doctype html
html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      meta(name='description', content='description')
      meta(name='keywords', content='keywords')
      meta(name='author', content='author')
      meta(name="robots", content="index, follow")

      //- ----- link website ----- //

      //- ----- CSS Files ----- //
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')

    body

      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
      script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
block title
  title Tambah Data Pegawai
block content
  div.container
    div.row
      div.col-xs-6.col-md-4
      div.col-xs-6.col-md-4
      p
          table.table.table-bordered.table-striped.table-hover
            thead
                tr
                th<a href="/list_product">List Product</a> 
        form(id="form", method="post", action="/saveLink")
          .form-group
            label Input Product Link
            input(type="text", placeholder="link", name="link").form-control
         
          button(type="submit").btn.btn-primary Save
      div.col-xs-6.col-md-4